<%- include("../partials/admin_header") %>

<h2 class="text-center">Add A Category</h2>
<a href="/admin/categories" class="btn btn-primary"><i class="fas fa-arrow-left"></i> All Categories</a>  
<br> <br> 
<form action="/admin/categories/add-category" method="POST">

    <div class="form-group" >
        <label for="">Title</label>
        <input type="text" class="form-control" name="title" value="<%= title %>" placeholder="Title">  
    </div>


    <button class="btn btn-dark">ADD</button>
</form> 

<%- include("../partials/admin_footer") %>