<%- include("partials/homeheader") %>

<div class="row car">
    <div class="col-sm-12 col-md-12 col lg-12">

        <div id="carouselExampleIndicators" class="carousel slide mb-5" data-ride="carousel" style=" margin: 0 auto;">
            <ol class="carousel-indicators" >
              <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
            </ol>
            
            <div class="carousel-inner">
              <div class="carousel-item active">
                <a href="/products"><img src="/images/c1.webp" class="d-block w-100" alt="..."></a>
              </div>
              <div class="carousel-item">
                <a href="/products/dresses"> <img src="/images/c2.webp"  class="d-block w-100" alt="..."></a>
              </div>
              <div class="carousel-item">
                <a href="/products/casual-shoes"><img src="/images/c3.webp"  class="d-block w-100" alt="..."></a>
              </div>
              <div class="carousel-item">
                <a href="/products/jackets">  <img src="/images/c4.webp" class="d-block w-100" alt="..."></a>
              </div>
              <div class="carousel-item">
                <a href="/products/casual-shoes"><img src="/images/c5.webp"  class="d-block w-100" alt="..."></a>
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
    </div>
</div>

<div class="row text-center hmepro">
    <div class="col-sm-12 col-md-12 col lg-12 col-xl-12 " >
      
      <a id="crd" class="card " href="/products/jackets"> <img id="bat" src="/images/9.jpg"  alt="">
        <h2 class="card-text text-center">Jackets</h2>
       </a> 
      <a id="crd" class="card" href="/products/shirts"> <img id="bat" src="/images/1.jpg"  alt="">
        <h2 class="card-text text-center ">Shirts</h2>
       </a>
       <a id="crd" class="card " href="/products/t-shirts"> <img id="bat" src="/images/2.jpg"  alt="">
        <h2 class="card-text text-center">T-Shirts</h2>
       </a>
       <a id="crd" class="card " href="/products/jeans"> <img id="bat" src="/images/3.jpg"  alt="">
        <h2 class="card-text text-center">Jeans</h2>
       </a>
       <a id="crd" class="card" href="/products/shorts&trousers"> <img id="bat" src="/images/4.jpg"  alt="">
        <h2 class="card-text text-center">Shorts&Trousers</h2>
       </a>
       <a id="crd" class="card " href="/products/casual-shoes"> <img id="bat" src="/images/5.jpg"  alt="">
        <h2 class="card-text text-center h2txt">Sneakers</h2>
       </a>
       <a id="crd" class="card" href="/products/kurtas"> <img id="bat" src="/images/6.jpg"  alt="">
        <h2 class="card-text text-center">Kurtas</h2>
       </a>
       <a id="crd" class="card " href="/products/sarees"> <img id="bat" src="/images/7.jpg"  alt="">
        <h2 class="card-text text-center">Sarees</h2>
       </a>
       <a id="crd" class="card " href="/products/dresses"> <img id="bat" src="/images/8.jpg"  alt="">
        <h2 class="card-text text-center">Dress</h2>
       </a>
       <a id="crd" class="card " href="/products/kids"> <img id="bat" src="/images/kids.png"  alt="">
        <h2 class="card-text text-center">Kids</h2>
       </a>
       <a id="crd" class="card " href="/products/watches"> <img id="bat" src="/images/watch.jpg"  alt="">
        <h2 class="card-text text-center">Watches</h2>
       </a>
       <a id="crd" class="card " href="/products/games"> <img id="bat" src="/images/10.jpg"  alt="">
        <h2 class="card-text text-center">Games</h2>
       </a>
    </div>
</div>
<%- include("partials/headfooter") %>