
<html>
    <head>
        <link rel="stylesheet" href="/stylesheets/styles.css">
    </head>
    <body>
        
  
<div id="sidebar">
    <div class="toggle-btn" onclick="toggleSidebar()">
        <span></span>
        <span></span>
        <span></span>
    </div>
    <ul>
        <li>Home</li>
        <li>About</li>
        <li>Contact</li>
    </ul>

</div>    

<script>

function toggleSidebar(){
    document.getElementById("sidebar").classList.toggle("active");
}

</script>
</body>
</html>